In [0]:
# Initial imports
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
import random
from sklearn.decomposition import PCA

import datetime
import warnings
warnings.filterwarnings('ignore')

from scipy.stats import boxcox

random.seed(3)

# Imports for better visualization
from matplotlib import rcParams
#colorbrewer2 Dark2 qualitative color table

             

rcParams['figure.figsize'] = (8, 3)
rcParams['figure.dpi'] = 150
rcParams['lines.linewidth'] = 2
rcParams['font.size'] = 14
rcParams['patch.edgecolor'] = 'white'

rcParams['font.family'] = 'StixGeneral'
rcParams['axes.grid'] = True
rcParams['axes.facecolor'] = '#eeeeee'

In [0]:
train=pd.read_csv("development_dataset.csv")
test=pd.read_csv("leaderboard_dataset.csv")

In [0]:
test.isnull().sum()

VAR1        0
VAR2      267
VAR3      937
VAR4     3686
VAR5        0
VAR6     1058
VAR7      215
VAR8      215
VAR9     4701
VAR10    1348
VAR11    2231
VAR12    3201
VAR13    2493
VAR14       0
VAR15    2359
VAR16     229
VAR17    6543
VAR18       0
VAR19       0
VAR20       0
dtype: int64

In [0]:
train.shape

(34000, 21)

In [0]:
test.shape

(10000, 20)

In [0]:
train.head()

   VAR1        VAR2      VAR3        VAR4  ...  VAR18  VAR19       VAR20   VAR21
0     1  828.235294  0.138889  321.428571  ...      1      0  100.104991     Low
1     2  911.764706  0.027778         NaN  ...      0      1  146.654045    High
2     3  962.352941  0.833333   35.714286  ...      0      0   98.249570  Medium
3     4  892.941177       NaN         NaN  ...      1      0  140.862306     Low
4     5  914.117647  0.083333         NaN  ...      1      0  101.268503    High

[5 rows x 21 columns]

In [0]:
df=train.append(test, ignore_index=True, sort=False)

In [0]:
train.corr()

           VAR2      VAR3      VAR4  ...     VAR18     VAR19     VAR20
VAR2   1.000000  0.001972 -0.520364  ...  0.062919 -0.064833 -0.103261
VAR3   0.001972  1.000000 -0.006435  ...  0.013064  0.004490  0.018308
VAR4  -0.520364 -0.006435  1.000000  ... -0.037142  0.115342  0.050940
VAR5  -0.198825  0.007076  0.209725  ...  0.034296 -0.130859  0.229492
VAR6   0.024563  0.026434 -0.026012  ...  0.049143  0.083432  0.073296
VAR7  -0.027956  0.018932  0.016341  ...  0.024797  0.115910  0.113370
VAR8  -0.049848  0.025569  0.063607  ...  0.041071  0.166366  0.168116
VAR9  -0.005974  0.005590  0.014895  ...  0.007195 -0.218252 -0.031862
VAR10  0.044978 -0.000101 -0.033471  ...  0.018898 -0.248395 -0.021122
VAR11 -0.170889  0.008638  0.199767  ...  0.026608  0.079181  0.076796
VAR12  0.145806  0.077644 -0.100896  ...  0.076527  0.034649 -0.069696
VAR13  0.131859  0.017939 -0.079159  ...  0.058514  0.072172  0.029699
VAR14 -0.036751  0.005851  0.054763  ... -0.017118  0.299530  0.013695
VAR15  0.100009  0.016350 -0.042410  ...  0.055073  0.077516  0.033875
VAR16 -0.024563  0.016033  0.015877  ...  0.020018  0.098064  0.096646
VAR18  0.062919  0.013064 -0.037142  ...  1.000000  0.028553  0.098638
VAR19 -0.064833  0.004490  0.115342  ...  0.028553  1.000000  0.092336
VAR20 -0.103261  0.018308  0.050940  ...  0.098638  0.092336  1.000000

[18 rows x 18 columns]

In [0]:
train.isnull().sum()

VAR1         0
VAR2       961
VAR3      3385
VAR4     12494
VAR5         1
VAR6      3495
VAR7       835
VAR8       835
VAR9     15817
VAR10     4550
VAR11     7565
VAR12    10502
VAR13     8522
VAR14        0
VAR15     8024
VAR16      866
VAR17    22194
VAR18        0
VAR19        0
VAR20        0
VAR21        0
dtype: int64

In [0]:
(df["VAR3"]<1).sum()

33654

In [0]:
train.describe()

               VAR1          VAR2  ...         VAR19         VAR20
count  34000.000000  33039.000000  ...  34000.000000  34000.000000
mean   17000.500000    917.391603  ...      0.298059    161.355950
std     9815.098913     50.222389  ...      0.457412    123.231136
min        1.000000    730.588235  ...      0.000000      0.000000
25%     8500.750000    882.352941  ...      0.000000    104.385542
50%    17000.500000    924.705882  ...      0.000000    117.493115
75%    25500.250000    956.470588  ...      1.000000    159.446213
max    34000.000000   1000.000000  ...      1.000000   1000.000000

[8 rows x 19 columns]

In [0]:
df.dtypes

VAR1       int64
VAR2     float64
VAR3     float64
VAR4     float64
VAR5     float64
VAR6     float64
VAR7     float64
VAR8     float64
VAR9     float64
VAR10    float64
VAR11    float64
VAR12    float64
VAR13    float64
VAR14     object
VAR15    float64
VAR16    float64
VAR17    float64
VAR18      int64
VAR19      int64
VAR20    float64
VAR21     object
dtype: object

In [0]:
df["VAR14"]=df["VAR14"].replace('.',0)
train["VAR14"]=train["VAR14"].replace('.',0)
test["VAR14"]=test["VAR14"].replace('.',0)

In [0]:
df["VAR14"]=df['VAR14'].astype(str).astype(int)
train["VAR14"]=train['VAR14'].astype(str).astype(int)
test["VAR14"]=test['VAR14'].astype(str).astype(int)

In [0]:
  # Taking care of missing data
  from sklearn.preprocessing import Imputer
  imputer = Imputer(missing_values = 'NaN', strategy = 'median', axis = 0)
  imputer = imputer.fit(df.iloc[:, 1:16])
  df.iloc[:, 1:16] = imputer.transform(df.iloc[:, 1:16])
  imr = Imputer(missing_values = 'NaN', strategy = 'most_frequent', axis = 0)
  imr = imr.fit(df.iloc[:,17:18])
  df.iloc[:,17:18] = imr.transform(df.iloc[:,17:18])
  imputer = imputer.fit(df.iloc[:,19].values.reshape(-1,1))
  df.iloc[:,19] = imputer.transform(df.iloc[:,19].values.reshape(-1,1))

In [0]:
train=train.drop('VAR17',axis=1)
train=train.drop('VAR1',axis=1)
index=test['VAR1']

In [0]:
test=test.drop('VAR17',axis=1)
test=test.drop('VAR1',axis=1)

In [0]:
df=df.drop('VAR17',axis=1)
df=df.drop('VAR1',axis=1)

In [0]:
df.isnull().sum()

VAR2         0
VAR3         0
VAR4         0
VAR5         0
VAR6         0
VAR7         0
VAR8         0
VAR9         0
VAR10        0
VAR11        0
VAR12        0
VAR13        0
VAR14        0
VAR15        0
VAR16        0
VAR18        0
VAR19        0
VAR20        0
VAR21    10000
dtype: int64

In [0]:
from sklearn import preprocessing
out=train['VAR21']
df1= preprocessing.normalize(df.drop('VAR21',axis=1))

In [0]:
df=df.drop('VAR21',axis=1)

In [0]:
out=pd.DataFrame(out)

In [0]:
df1=pd.DataFrame(df1)

df1.columns=df.columns
df1.head()

       VAR2      VAR3      VAR4  ...     VAR18    VAR19     VAR20
0  0.742498  0.000125  0.288155  ...  0.000896  0.00000  0.089742
1  0.802414  0.000024  0.125724  ...  0.000000  0.00088  0.129065
2  0.812300  0.000703  0.030146  ...  0.000000  0.00000  0.082930
3  0.785022  0.000147  0.125592  ...  0.000879  0.00000  0.123838
4  0.785716  0.000072  0.122791  ...  0.000860  0.00000  0.087044

[5 rows x 18 columns]

In [0]:
pd.DataFrame(train).describe()

               VAR2          VAR3  ...         VAR19         VAR20
count  33039.000000  30615.000000  ...  34000.000000  34000.000000
mean     917.391603      1.119596  ...      0.298059    161.355950
std       50.222389     12.714724  ...      0.457412    123.231136
min      730.588235      0.001333  ...      0.000000      0.000000
25%      882.352941      0.083333  ...      0.000000    104.385542
50%      924.705882      0.166667  ...      0.000000    117.493115
75%      956.470588      0.555556  ...      1.000000    159.446213
max     1000.000000   1000.000000  ...      1.000000   1000.000000

[8 rows x 18 columns]

In [0]:
pd.DataFrame(test).describe()

              VAR2         VAR3  ...         VAR19         VAR20
count  9733.000000  9063.000000  ...  10000.000000  10000.000000
mean    917.904763     1.222283  ...      0.302500    161.013031
std      50.534988    13.254280  ...      0.459364    122.318602
min     725.882353     0.001333  ...      0.000000      0.000000
25%     881.176471     0.083333  ...      0.000000    104.438038
50%     925.882353     0.166667  ...      0.000000    117.569707
75%     957.647059     0.555556  ...      1.000000    160.002151
max    1000.000000  1000.000000  ...      1.000000   1000.000000

[8 rows x 18 columns]

In [0]:
n_train=df1.iloc[:34000,:]
n_test=df1.iloc[34000:,:]

In [0]:
n_train.shape

(34000, 18)

In [0]:
dummies=pd.get_dummies(out)
dummies.head()

   VAR21_High  VAR21_Low  VAR21_Medium
0           0          1             0
1           1          0             0
2           0          0             1
3           0          1             0
4           1          0             0

In [0]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X=LabelEncoder()
y = labelencoder_X.fit_transform(out)
y

array([1, 0, 2, ..., 1, 1, 0])

In [0]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(n_train, y, test_size = 0.20)

In [0]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 33)

In [0]:
x_new, y_new = sm.fit_sample(X_train, y_train.ravel())

In [0]:
x_new.shape

(43446, 18)

In [0]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
gnb.score(X_test,y_test)

0.5245588235294117

In [0]:
output=gnb.predict(n_test)

In [0]:
y=pd.DataFrame(output)

In [0]:
for i in range(10000):

  if(y.iloc[i,0]==1):
    y.iloc[i,0]='Low'
  if(y.iloc[i,0]==0):
    y.iloc[i,0]='High'
  if(y.iloc[i,0]==2):
    y.iloc[i,0]='Medium'

In [0]:
y[0].value_counts()

Medium    7221
Low       2197
High       582
Name: 0, dtype: int64

In [0]:
#Writing the results for test data to a CSV file
file = open("Insight _IITRoorkee_31.csv", "w")
for k in range(10000):
   file.write(str(k+1) + "," + str(y.iloc[k,0]) + "\n")
file.close()

In [0]:
cross_val_score(gnb,X_train,y_train)

array([0.50672695, 0.50490791, 0.52112521])

In [0]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=20)
neigh.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                     weights='uniform')

In [0]:
neigh.score(X_test,y_test)

0.5441176470588235

In [0]:
#cross_val_score(neigh,X_train,y_train)

In [0]:
output=neigh.predict(n_test)

In [0]:
y=pd.DataFrame(output)

In [0]:
for i in range(10000):

  if(y.iloc[i,0]==1):
    y.iloc[i,0]='Low'
  if(y.iloc[i,0]==0):
    y.iloc[i,0]='High'
  if(y.iloc[i,0]==2):
    y.iloc[i,0]='Medium'

In [0]:
y[0].value_counts()

Medium    7350
Low       2594
High        56
Name: 0, dtype: int64

In [0]:
#Writing the results for test data to a CSV file
file = open("Insight _IITRoorkee_33.csv", "w")
for k in range(10000):
   file.write(str(k+1) + "," + str(y.iloc[k,0]) + "\n")
file.close()

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from mlxtend.classifier import StackingClassifier

# Initializing models

clf1 = KNeighborsClassifier(n_neighbors=1)
clf2 = RandomForestClassifier(random_state=1)
clf3 = GaussianNB()
lr = LogisticRegression()
sclf = StackingClassifier(classifiers=[clf1, clf2, clf3], 
                          meta_classifier=lr)

params = {'kneighborsclassifier__n_neighbors': [1, 5],
          'randomforestclassifier__n_estimators': [10, 50],
          'meta_classifier__C': [0.1, 10.0]}

grid = GridSearchCV(estimator=sclf, 
                    param_grid=params, 
                    cv=5,
                    refit=True)
grid.fit(X_train, y_train)

cv_keys = ('mean_test_score', 'std_test_score', 'params')

for r, _ in enumerate(grid.cv_results_['mean_test_score']):
    print("%0.3f +/- %0.2f %r"
          % (grid.cv_results_[cv_keys[0]][r],
             grid.cv_results_[cv_keys[1]][r] / 2.0,
             grid.cv_results_[cv_keys[2]][r]))

print('Best parameters: %s' % grid.best_params_)
print('Accuracy: %.2f' % grid.best_score_)